* {
    font-family: roboto, sans-serif;
    /* for diagnostics */
    margin: 5px;
}

body {
    display: flex;
    flex-direction: column;
}

/* for diagnostic purposes only */
div {
    border: 2px solid red;
    min-height: 10px;
}

.header, .footer {
    background-color: #1F2937;
    color: white;
}

.header-links, .links, .splash, .cards, .cta, ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin: 0 10%;
}

.cards {
    flex-wrap: wrap;
}

.card {
    width: 150px;
}

#splash-left, #splash-right {
    flex: 1 1 50%;
}

.random-info, .testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.testimonial {
    background-color: #e5e7eb;
}

div.cta {
    background-color: #3882f6;
    color: white;
    padding: 0 10%;
    border-radius: 7px;
}

.logo {
    font-weight: bold;
    font-size: 26px;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    max-width: 300px;
    width: auto;
    height: auto;
    border: #1F2937 solid 3px;
    border-radius: 7px;
}