* {
    font-family: roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header, .footer {
    background-color: #1F2937;
    padding: 20px 0px;
    color: white;
}

.footer {
    text-align: center;
    box-sizing: border-box;
}

.header-links, .links, .splash, .cards, .cta, ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin: 0 10%;
}

.splash {
    margin: 50px 10%;
}

#splash-right {
    display: flex;
    justify-content: center;
}

.cards {
    flex-wrap: wrap;
}

.card {
    width: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    color: rgba(0, 0, 0, 0.8);
}

#splash-left, #splash-right {
    flex: 1 1 50%;
}

.random-info, .testimonial {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
}

div.testimonial {
    background-color: #e5e7eb;
    padding: 50px 20%;
}

div.random-info {
    margin: 50px 0px;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.author {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    margin-top: -30px;
}

div.cta {
    background-color: #3882f6;
    color: white;
    padding: 20px 10%;
    border-radius: 7px;
    margin: 70px 10%;
}

.logo {
    font-weight: bold;
    font-size: 26px;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    max-width: 300px;
    width: auto;
    height: auto;
    border: #1F2937 solid 3px;
    border-radius: 7px;
}

button {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    font-size: larger;
    border-radius: 5px;
    border: 0px;
    min-width: 150px;
    padding: 5px;
}

.cta button {
    border: 2px solid white;
}